<nav>
  <h2 onclick={{action showSelect}}>
    {{selectedRoutesTitle}}
  </h2>
  <ul class={{visible}}>
    {{#each @routes key="@index" as |route|}}
      <rs-option
        @onclick={{action selectRoute route}}
        @selectedRoutes={{@selectedRoutes}}
        @route={{route}}
      >
        {{route.title}}
      </rs-option>
    {{/each}}
  </ul>
</nav>