<nav>
  <h2 onclick={{action showSelect}}>
    {{selectedRoutesTitle}}
    {{#if @noBusesRunning}}
      (No buses running now)
    {{/if}}
  </h2>
  <div class='{{visible}} nav-wrapper'>
    <ul>
      <rs-option
        @onclick={{action selectRoute}}
        @selectedRoutes={{@selectedRoutes}}
      >
        Show all routes
      </rs-option>
      {{#each @routes key="@index" as |route|}}
        <rs-option
          @onclick={{action selectRoute route}}
          @selectedRoutes={{@selectedRoutes}}
          @route={{route}}
        >
          {{route.title}}
        </rs-option>
      {{/each}}
    </ul>
  </div>
</nav>