<section>
  <h1>San Francisco Buses</h1>
</section>

{{#if routes}}
  <route-select
    @routes={{routes}}
    @selectedRoute={{selectedRoute}}
    @selectRoute={{action selectRoute}}
  />

  <route-map
    @routes={{routes}}
    @selectedRoute={{selectedRoute}}
  />
{{else}}
  loading
{{/if}}