<section>
  <h1>San Francisco Buses</h1>
</section>

{{#if loading}}
  loading
{{else}}
  <route-select
    @routes={{routes}}
    @selectedRoutes={{selectedRoutes}}
    @selectRoutes={{action selectRoutes}}
  />

  <route-map
    @routes={{routes}}
    @selectedRoutes={{selectedRoutes}}
    @refreshLocations={{refreshLocations}}
  />
{{/if}}